.dashboard {
  /* height: 100vh; */
}

.dashCard {
  padding: 0.6rem 1rem;
  background: #f3f3f3;
  box-shadow: 2px 4px 2px 3px #1111;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 1.2rem;
}

.welcomeTxt {
  text-align: center;
  color: rgb(255, 174, 0);
  font-size: 1.7rem;
}

.signoutBtn {
  outline: none;
  background: red;
  color: white;
  padding: 10px 14px;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}
